#wall
{
  
}
p
{
  top :10px;
  color: rgb(0, 0, 0);
}
#etinnkar
{
	width:1405px;
	height:733px;
}
#et2
{

height: 900px;
width : 900px;
display: inline-block;
position: absolute;
margin-left:30%;
margin-top : 5%;
background-repeat:no-repeat;
}
#divdiv
{
  z-index:1;
  top:-118px;
  left:-10px;
  position:relative;
  
}

#a
{
  position: absolute;
  z-index:2;
  border-radius: 60px;
  margin-top: 400px;
  margin-left:850px;
  width: 200px;
  height: 120px;
  font-size: 50px;

}

.s
{
  z-index:5;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 642px;
  color:rgb(255, 255, 255);
  height: 100px;
  top: -150px;
  left: 430px;
  font-size: 150px;
}

.sound
{
  width:64px;
  height:10px;
  margin-left:-40px;
  position: absolute;
  top: 19px;
}